<div class="container">
    <h3>Pressupostos en curs:</h3>

    @if (budgets().length > 0) {
        <div class="header-row">
            <div class="sort-buttons">
                <button (click)="setSort('date')">Data</button>
                <button (click)="setSort('price')">Preu</button>
                <button (click)="setSort('name')">Nom</button>
            </div>
        </div>

        <div class="budget-list">
            @for (budget of budgets(); track budget){
                <div class="budget-card">
                    <div class="budget-left">
                        <h4>{{budget.name}}</h4>
                        <p> {{budget.email}}</p>
                        <p> {{budget.phone}} </p>
                    </div>
                    <div class="budget-middle">
                        <p><strong>Serveis contractats:</strong> <br></p>
                        <ul>
                            @for(service of budget.services; track service){
                                <li>{{ service }}</li>
                            }
                        </ul>
                    </div>
                    <div class="budget-right">
                        <p> <strong>Total: </strong>{{budget.total}}€</p>
                    </div>
                </div>
            }
        </div>
    } @else {
        <p></p>
    }
</div>
