<div class="container">
    <h3>Pressupostos en curs:</h3>
        <div class="header-row">
            <div class="button-group">
              <div class="search-container" [class.expanded]="isSearchOpen()">
                @if (isSearchOpen()) {
                  <input
                    type="text"
                    [value]="searchTerm()"
                    (input)="updateSearch($event)"
                    [class.visible]="isSearchOpen()"
                    class="search-input"
                    (blur)="toggleSearch()"
                  >
                }
                <button type="button" class="search-button" (click)="toggleSearch()">🔍</button>
              </div>

              <div class="sort-buttons">
                <button (click)="setSort('date')">Data</button>
                <button (click)="setSort('price')">Import</button>
                <button (click)="setSort('name')">Nom</button>
              </div>
            </div>
          </div>

        <div class="budget-list">
            @for (budget of budgets(); track budget){
                <div class="budget-card">
                    <div class="budget-left">
                        <h4>{{budget.name}}</h4>
                        <p> {{budget.email}}</p>
                        <p> {{budget.phone}} </p>
                    </div>
                    <div class="budget-middle">
                        <p><strong>Serveis contractats:</strong> <br></p>
                        <ul>
                            @for(service of budget.services; track service){
                                <li>{{ service }}</li>
                            }
                        </ul>
                    </div>
                    <div class="budget-right">
                        <p> Total: <br> </p>
                          <p class="budget-total"><strong>{{ budget.total }}€</strong></p>
                    </div>
                </div>
            }
        </div>
</div>

