<div class="container">
    <h2>Aconsegueix la millor qualitat</h2>

    @for (service of services; track service) {
    <form [formGroup]="form">
        <div class="service-box">
            <div class="info">
                <h3> {{ service | titlecase }}</h3>
                <p> {{ prices[service] }} €</p>
            </div>
        

            <label>
                <input type="checkbox" [formControlName]="service">
                Afegir
            </label>
        </div>
    </form>
    }
    @if (form.get('web')?.value) {
        <div class="panel-wrapper">
            <app-panel (totalWebCostChange)="handleTotalChange($event)"></app-panel>
        </div>
        }

    <div class="total">
        <strong>Preu Pressuposat: {{ total() + panelTotal }}</strong>
    </div>
</div>


  